@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body {
    background-color: black;
    color: white;
}

.wrapper {
    padding-top: 3em;
    text-align: center;
    font-family: Roboto;
}

.wrapper h1 {
    font-size: 3.5em;
    padding: .2em;
    color: rgb(255, 104, 104);
    font-weight: bold;
}

.wrapper p {
    font-size: 1.5em;
    color: white;
    font-family: 'Open Sans';
}

.wrapper #group {
    height: 2.5em;
}

.wrapper #omnibox {
    width: 18em;
    height: 100%;
    padding: .1em;
    margin-right: .2em;
    padding-inline: .5em;
    color: white;
    font-size: 1.2em;
    border-style: solid;
    border-color: white;
    background-color: black;
    box-sizing: border-box;
}

.wrapper #button {
    width: 3em;
    height: 100%;
    padding: .1em;
    color: white;
    font-size: 1.2em;
    border-style: solid;
    border-color: white;
    background-color: black;
    transition: 0.5s all ease-in-out;
    box-sizing: border-box;
}

.wrapper #button:hover {
    color: white;
    background-color: rgb(255, 104, 104);
    border-color: white;
}

.wrapper icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper ion-icon {
    font-size: 2em;
    margin: 1.5em;
    padding: .1em;
    border-width: 0.01em;
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(255, 104, 104);
    color: rgb(255, 104, 104);
}